.search-filter-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 30px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.10);

    h1 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .form-control {
        border: none;

        @include box-shadow(none);
        @include border-radius(0);
    }

    .input-group {
        display: block;

        .search-input {
            background-color: #000;
            color: #fff;
            border: none;
            font-size: 15px;
            height: 60px;
            padding: 20px 25px;
            width: calc(100% - 240px);

            &::placeholder {
                color: #fff;
                opacity: 1;
            }
        }

        .search-type {
            background-color: #000;
            color: #fff;
            height: 60px;
            width: 120px;
        }

        .btn {
            color: #FFFFFF;
            background: #F26522;
            border: none;
            height: 60px;
            font-weight: 700;
            width: 120px;
            text-align: center;

            @include border-radius(0);
        }
    }
}

.search-result-container {
    min-height: 320px;
    padding-top: 190px;

    .image-result-container {
        margin-bottom: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);

        .preview {
            height: 260px;
            width: 100%;
            display: block;
            background-size: cover;
            background-position: center center;
            position: relative;

            .download {
                background-color: rgba(0, 0, 0, 0.60);
                position: absolute;
                right: 0;
                bottom: 0;
                color: #fff;
                padding: 5px 8px;
                font-size: 13px;

                .fa {
                    margin-right: 3px;
                }
            }
        }

        .author-area {
            padding: 10px;

            img {
                @include border-radius(50%);
            }

            .media-heading {
                font-size: 14px;
            }

            .media-body {
                .tag {
                    font-size: 13px;
                    margin-bottom: -3px;
                    margin-top: -2px;

                    .fa {
                        position: relative;
                        top: -3px;
                        margin-right: 2px;
                        color: #6d6969;
                    }

                    span {
                        display: inline-block;
                        max-width: calc(100% - 34px);
                        @include three-dots-overflow();
                    }
                }
            }
        }
    }
}